.player-form {
  display: flex;
  flex-direction: column;

  &__button {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }

  &__input-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}