// RED
$color-red-light: #ffeaec;
$color-red-dark: #c10016;

// PURPLE
$color-purple-light: #f7e6ff;
$color-purple-dark: #8100c4;

// BLUE
$color-blue-light: #e3e9ff;
$color-blue-dark: #000fc1;

// GREEN
$color-green-light: #effff2;
$color-green-dark: #00a01f;

// ORANGE
$color-orange-light: #fff3e6;
$color-orange-dark: #e07000;


// SILVER
$color-silver-light: #f2f2f2;
$color-silver-dark: #ada9a4;

// GRAY
$color-gray: #676767;

$color-white: #fff;
$color-black: #000;

$color-main-lightest: #e7f0f7;
$color-main-light: #b0cee8;
$color-main-dark: #9cb5cb;
$color-main-darkest: #55789b;

$color-background: #fcfcfc;

$color-font: #262262;
